@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans:wght@700&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
nav{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container{

    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    
}
.logo-container{

    display: flex;
    width: 50%;
}

.logo-container img{

    width: 50px;
    object-fit:contain;
    margin-right: 20px;
}
.logo-container p{
    font-size: 30px;
  
}

.G-section{
    color: rgb(250, 95, 206);
    font-size: 700;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;

}
.amer{color: #3C354F;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;

}

.nav-items-container{

    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-items-container a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(22, 22, 22);
}

.nav-items-container .color{
    background-color: gray;
    padding: 10px 50px;
    font-weight: 400;
    border-radius: 8px;
    color: white;
    text-align: center;
    
}

/* navbar ends */
.banner-container{

    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    display: flex;
    background-color:transparent;
    
    padding: 10px;
    border-radius: 10px;

}

.banner-text{
    width: 50%;
    text-align: center;
}
.banner-img{
 
    width: 50%;
}
.banner-img img{
    width: 100%;

    border-radius: 10px;
    /* height: 100%; */
    object-fit: cover;
}
.banner-text p{
    display: flex;
    align-items: center;
    margin-left: 250px;
}


.banner-text h1 ,.funny{
    background-image: linear-gradient(to bottom,#9376e0,#e893cf);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
    margin-bottom: 40px;
}
.banner-text p{
    font-size: 15px;
    /* font-family: 'Dancing Script', cursive; */

}
.banner-button{
    background-color: rgb(236, 127, 209);
    color: white;
    padding: 10px 20px;
    margin-right: 20px;
    margin-top: 30px;
    border-radius: 30px;
}
.banner-button-S{
    background-color: #51bef1;
    padding: 10px 20px;
    /* border: 2px solid #9376e0; */
    margin-right: 20px;
    border-radius: 30px;
    color: white;
}


/* banner section design ends here */

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1400px;
    margin: 50px auto 0;
    min-height: 400px;
    padding: 0px 0px 20px 0px;
    gap: 15px;

}
/* grid end */
.new-section{
    background-color: #ffffff;
    min-height: 500px;
    padding: 20px 0;

}
.new-container{
    max-width: 1400px;
    margin: 0 auto;
    /* border: 1px solid rgb(238, 255, 0); */
    min-height: 200px;
    display: flex;
    align-items: center;
}
.new-img{
    width: 50%;
    /* border: 1px solid  */
    /* red; */
}


.new-img-snd{
    position: relative;
    width: 50%;
    bottom: 170px;
    left: 450px;

}
.new-text{
    width: 50%;
    text-align: center;
    /* border: 1px solid aqua; */
}